extends layout

block content
  h1 Express API
  p Welcome to #{title}
  P Here are some API-s:
  p #{route1}
  p #{route2}
  //- a(href=link) Test me <br>
  h3 Kitchen API
  a(href=config1) http://localhost:3000/kitchen <br>
  h3 Users API
  a(href=config2) http://localhost:3000/users <br>
  h3 Iphone API
  a(href=config3) http://localhost:3000/phones <br>